<!--
  Generated template for the SlotPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar favorite>
  <ion-title>Delivery Options</ion-title>
</ion-navbar>

<ion-grid>
    <ion-row class="buttons">
      <ion-col width-33>
        <button full clear>
          <ion-icon name="checkmark-circle"></ion-icon>
          Address
        </button>
      </ion-col>
      <ion-col width-33>
        <button full clear>
          <ion-icon name="checkmark"></ion-icon>
          Slot
        </button>
      </ion-col>
      <ion-col width-33>
        <button full light clear>
          <ion-icon name="checkmark"></ion-icon>
          Payment
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-content class="slot" padding>

  <ion-item>
    <h2>Select Time Slot for Delivery</h2>
  </ion-item>

  <ion-list radio-group>
    <div *ngFor="#item of items">
    <p>{{item.date | date:'longDate'}}</p>
    <ion-item *ngFor="#slot of item.slots">
      <ion-label>{{slot.range}}</ion-label>
      <ion-radio value="{{item.date}} - {{slot.range}}" (click)="setSlot(item.date, slot.range)"></ion-radio>
    </ion-item>
    </div>
  </ion-list>

</ion-content>

<ion-toolbar position="bottom" padding tomato>
		<ion-buttons end>
			<button outline (click)="gotoPayment()">
				Continue
			</button>
		</ion-buttons>
</ion-toolbar>
