<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar favorite *navbar>
  <ion-title>My Shopping Cart</ion-title>
</ion-navbar>

<ion-content class="cart">
	<ion-item *ngFor="#content of contents" class="content" text-wrap>
        
			<ion-thumbnail item-left (click)="itemTapped($event, content)">
					<img src="{{content.photo}}">
			</ion-thumbnail>
			
			<h2 (click)="itemTapped($event, content)">{{content.title}}</h2>
			
			<p>{{content.label}} - {{content.remarks}}</p>
			
			<p>Standard Delivery: Tomorrow Evening</p>
			
			<h3>₹ {{content.total_price}}</h3>
			
			<button clear (click)="decrement($event, content)">
				<ion-icon name="remove-circle"></ion-icon>
			</button>
			<span class="ticker-progress">{{content.quantity}}</span>
			<button clear (click)="increment($event, content)">
				<ion-icon name="add-circle"></ion-icon>
			</button>
			
	</ion-item>

	<div *ngIf="!hasProducts" class="empty-cart">The cart is empty</div>
</ion-content>

<ion-toolbar *ngIf="hasProducts" position="bottom" padding tomato>
		<ion-title>Total Amount: <strong (ngModel)="total_amount">₹ {{total_amount}}</strong></ion-title>
		<ion-buttons end>
			<button outline (click)="checkoutCart()" item-right>
				Checkout
			</button>
		</ion-buttons>
</ion-toolbar>