<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-navbar *navbar>
    <button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Veggies and Fruits</ion-title>
    <ion-buttons end>
    <button (click)="openModal()">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="home" padding>
    <ion-item *ngFor="#content of contents" class="content" text-wrap>
        
        <ion-thumbnail item-left (click)="itemTapped($event, content)">
            <img src="{{content.photo}}">
        </ion-thumbnail>
        
        <h2 (click)="itemTapped($event, content)">{{content.title}}</h2>
        
        <ion-item class="subitem">
            <ion-select primary [(ngModel)]="quantity">
                <ion-option *ngFor="#quantity of content.quantities" value="{{quantity.id}}">{{quantity.label}} ({{quantity.remarks}}) - ₹ {{quantity.price}}</ion-option>
            </ion-select>
        </ion-item>
        
        <p>Standard Delivery: Tomorrow Evening</p>
        
        <button outline type="button" class="button button-small button-info" (click)="saveToCart(content.id)">
            <ion-icon name="add"></ion-icon> Add to Cart
        </button>
        
    </ion-item>
</ion-content>
<button fab fab-bottom fab-right (click)="viewCart()" calm>
    <ion-icon name="basket"></ion-icon>
</button>
<ion-toolbar position="bottom">
  <ion-title>Footer</ion-title>
</ion-toolbar>
