.home .content {
  border-bottom: 1px solid #DDD;
}

.home .item-inner {
  border-bottom: none;
}

.button-fab {
  z-index: 100;
}

a.button {
  color: #FFF;
  font-size: 150%;
  padding: 0 10px;
  line-height: 50px;
}

ion-slides {
  height: inherit;
}

ion-slide {
  background: none;
}

.swiper-slide {
  font-size: 12px;
}

ion-title img {
  width: 75px;
  position: absolute;
  left: -20px;
  top: -20px;
}

.home h2 {
  padding: 0 10px;
}