// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/intro/intro";
@import "../pages/main/main";
@import "../pages/login/login";
@import "../pages/home/home";
@import "../pages/signup/signup";
@import "../pages/cart/cart";
@import "../pages/account/account";
@import "../components/loading-modal/loading-modal";
@import "../pages/delivery/delivery.scss";
@import "../pages/address/address.scss";
@import "../pages/payment/payment.scss";
@import "../pages/confirm/confirm.scss";
@import "../pages/search/search.scss";
@import "../pages/orders/orders.scss";
@import "../pages/forgot-password/forgot-password.scss";
@import "../pages/products/products.scss";
@import "../pages/order-details/order-details.scss";

ion-content {
    background: url(../../images/splash.png) no-repeat center center fixed;
    background-size: cover;
}


.subitem {
    padding-left: 0;
}

.subitem ion-select {
  width: 80%;
  border-radius: 5px;
  border: 1px solid #DDD;
  padding: 2px 5px;
  max-width: 80%;
}

.item {
    padding-left: 0;
}

ion-input::after {
    left: 0;
}

ion-slide img {
    height: auto !important;
}

.menu-left{
    background-size: cover;
}

.item-profile {
  height: 150px;
}

.item-avatar > img:first-child {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.buy .button-clear {
    color: #FFF;
}

.content.item {
    border-bottom: 1px solid #DDD;
}

.item-inner {
    border-bottom: 0;
}

form .item-inner {
    border-bottom: 1px solid #DDD; 
}

.buttons {
    background: #EEE;
    padding: 0;
    border-bottom: 1px solid #DDD;
}

.buttons ion-col {
    padding: 0;
}

.buttons button {
    margin: 0;
}

a.button {
  color: #000;
}

.no-content {
    text-align: center;
    margin-top: 40%;
    font-weight: bold;
}

.no-content ion-icon {
    font-size: 100px;
    color: #D40000;
}

.no-content p {
    color: #D40000;
}