<!-- this menu section should hold what content and destine to where
// at what point in time?
// That is determined by the last line in this -->
<ion-menu [content]="content">

    <ion-content>

        <ion-item *ngIf="user">
              <ion-avatar item-left image-large>
                  <img src="{{user_image}}"/>
              </ion-avatar>
              <ion-item-content>
                  <h2>{{user.strName}}</h2>
                  <small>{{user.strEmail}}</small>
              </ion-item-content>
        </ion-item>

        <ion-item text-wrap text-center *ngIf="!user" padding>
            <div text-center>
                <img src="images/main.jpg">
                <p>By eating many fruits and vegetables in place of fast food and junk food, people could avoid obesity.</p>
                <small><ion-icon name="user"></ion-icon> David H. Murdock</small>
            </div>
        </ion-item>

        <ion-list *ngIf="user">
            <button small ion-item *ngFor="#p of account_pages" (click)="openPage(p)" padding>
                <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
            </button>
        </ion-list>

        <ion-list *ngIf="!user">
            <button small ion-item *ngFor="#p of signup_pages" (click)="openPage(p)" padding>
                <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button small ion-item *ngFor="#p of pages" (click)="openPage(p)" padding>
                {{p.title}}
            </button>
        </ion-list>

        <ion-list *ngIf="categories">
            <ion-item *ngFor="#category of categories" (click)="toggleGroup(category)">
                <ion-icon name="isGroupShown(category)?'ion-minus':'ion-plus'"></ion-icon>
                {{category.name}}
                <ion-item class="item-accordion" *ngFor="#item of category.sub_categories">
                    {{item.name}}
                </ion-item>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-menu>
<!-- What's my root? remember the this.rootPage? -->
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
<loading-modal id="loading"></loading-modal>