<!-- this menu section should hold what content and destine to where
// at what point in time?
// That is determined by the last line in this -->
<ion-menu [content]="content">

    <ion-content padding>

        <ion-item text-wrap text-center>
            <div text-center>
                <img src="images/main.jpg">
                <p>By eating many fruits and vegetables in place of fast food and junk food, people could avoid obesity.</p>
                <small><ion-icon name="user"></ion-icon> David H. Murdock</small>
            </div>
        </ion-item>

        <ion-list>
            <!-- remember the `this.pages` object we created in `app.js`?
            // Iterate through, then when clicked, run the associated function
            // passing in the #p item. -->
            <button ion-item *ngFor="#p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>
<!-- What's my root? remember the this.rootPage? -->
<ion-nav id="nav" [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
<ion-menu [content]="content" side="right">

    <ion-content padding>

        <ion-item class="item-profile">
            <div class="item-avatar" pull-left>
                <img src="{{user_image}}">
            </div>
            <div class="item-avatar">
                
            </div>
        </ion-item>

        <ion-list>
            <!-- remember the `this.pages` object we created in `app.js`?
            // Iterate through, then when clicked, run the associated function
            // passing in the #p item. -->
            <button ion-item *ngFor="#p of account_pages" (click)="openPage(p)">
                <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
            </button>
        </ion-list>
    </ion-content>

</ion-menu>
<loading-modal id="loading"></loading-modal>